<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%;
        line-height: 1.8;
    }

    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("http://m.wsj.net/video/20150930/093015women1/093015women1_1280x720.jpg");
        min-height: 100%;
    }

    .w3-bar .w3-button {
        padding: 16px;
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>
        <div class="w3-hide-small">
            <a href="#home" class="w3-bar-item w3-button w3-left">
                <img src="{{ url_for('static', filename = 'logo.png') }}" width="100" height="30">
            </a>
            <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-right"><i class="fa fa-envelope"></i>
                CONTACT</a>
            <a href="{{ url_for('goals') }}" class="w3-bar-item w3-button w3-right"><i class="fa fa-th"></i> GOALS</a>
            <a href="{{ url_for('team') }}" class="w3-bar-item w3-button w3-right"><i class="fa fa-user"></i> TEAM</a>
            <a href="{{ url_for('about') }}" class="w3-bar-item w3-button w3-right"><i class="fa fa-bookmark"></i> ABOUT</a>
            <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-right"><i class="fa fa-home"></i> HOME</a>
        </div>

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
           onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-text-black" style="padding:48px">
        <span class="w3-jumbo w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"><b>Intersections VR</b></span><br>
        <span class="w3-large">Create a supportive work environment</span>
    </div>
</header>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>


<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>

</body>
</html>
